/* Large Devices, Wide Screens */

/* Small Devices, Tablets */

/* Extra Small Devices, Phones */

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

/* small */

@media only screen and (max-width: 1200px) {
  /**/
}

@media only screen and (max-width: 1101px) {
  /**/
}

@media only screen and (max-width: 960px) {
  /**/

  .content__wrap__block__name {
    margin-top: auto;
  }
}

@media only screen and (max-width: 768px) {
  /**/

  .hamburger {
    display: inline-block;
  }

  .header__menu {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  /**/

  .hamburger {
    padding-right: 0;
  }

  .content__block__sponsor {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 320px) {
  /**/
}